[Unit]
Description=eso-have-want-bot
After=syslog.target network.target

[Service]
Type=simple
User=discordbot
Group=discordbot

LimitNOFILE=999996
# LimitNProc=...

ExecStart=/home/discordbot/eso-discord/have-want-bot \
            --config /home/discordbot/eso-discord/have-want-config.toml \
            --database /home/discordbot/eso-discord/discordbot.db \
            --num_workers 20 \
            --log_level info

KillMode=mixed
KillSignal=SIGTERM

Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target